#app {
    width: 100%;
    margin-top: -150px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn.btn-primary:hover {
    color: #fff;
    background-color: #044d9b;
    border-color: #044d9b;
}
.btn-custom {
    color: #fff;
    background-color: #17a2b7;
    border-color: #17a2b7;
}
.btn.btn-custom:hover {
    color: #fff;
    background-color: #197280;
    border-color: #197280;
}
#brew_btn {
    margin-left: 15px;
}
.card-footer button {
    margin-left: 20px;
}
.show {
    display: block;
}
.hide {
    display: none;
}